body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Pretendard';
    overflow-x: hidden;
}
nav{
   z-index: 100;
   position: fixed; 
   width: 100%;
   margin-top:0;
   background-color: rgb(11, 13, 50);
}

.nav-header{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
 
}
.nav-header img{
    display: block;
    margin: 0 auto;  
    width: 54%;
}

.nav-menu{
    width: 100%;
}
.nav-item{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.navmenu{
    margin: 0 auto;
    padding-bottom: 5%;
} 
.nav-menu a{
    font-size: 1.1rem;
   color: rgb(255, 255, 255);
   text-align: center;
   text-decoration:none;
}
.nav-menu a:link { 
 
    text-align: center;
    text-decoration:none;
    color: rgb(255, 255, 255);
}
.nav-menu a:visited{
 
   color: rgb(255, 255, 255);
   text-align: center;
   text-decoration:none;
}
.nav-menu a:active{

   color: rgb(255, 255, 255);
   text-align: center;
   text-decoration:none;
}

.main{
    /* width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('event/성지순례1.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
  }

  /* top */
.main{
    display: block;
    position: relative;
    width: 100%;
    margin-top: -2%;
    background-color: rgb(255, 255, 255);
}
.backgroundimg {
    z-index: 0;
    position: relative;
    width: 100%;
}
.backgroundimg img{
    padding-top: 10%;
    width: 100%;
    height: 100vh;
}
  
.first{
    z-index: 99;
    margin-top: 60%;
    width: 100%;
    position: absolute;
}
.first p{
    text-align: center;
    color:orange;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: underline;
    text-underline-offset : 6px;
    font-weight: 700;
}
.mainimg {
    z-index: 99;
    position: absolute;
    margin-top: 80%;
    width: 100%;
}
.mainimg img{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.second{
    position: absolute;
    width: 100%;
    margin-top: 85%;
    z-index: 99;
}
.second h1{
    text-align: center;
    color:white;
    font-size: 3.3rem;
    font-weight: 500;
}
.last {
    z-index: 99;
    width: 100%;
    position: absolute;
    margin-top: 110%;
    
}
.last p{
    text-align: center;
    margin-top: 6%;
    font-size: 1.2rem;
    color:rgb(196, 171, 141);
    line-height: 2rem;
}
/* -----------백담사 */
.back{
    display: block;
    position: relative;
    width: 100%;
    margin-top: -2%;
    background-color: rgb(0, 0, 0);
}

.backgroundimg2 {
    z-index: 1;
    position: relative;
    width: 100%;
    margin-top: -1%;
}
.backgroundimg2 img{
    width: 100%;
    height: 100vh;
}

.backbox{
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top: -18%;
    display: block;
   
}
.backbox h1{
    z-index: 99;
    margin-left: 55%;
    text-align: center;
    padding: 12% 1%;
    background-color: rgb(181, 144, 87);
    color:rgb(255, 255, 255);
    width: 33%;
    font-weight: 600;
    letter-spacing: 0.4rem;
    font-size:2.3rem;
}
.backmap{
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top: 100%;
}
.backmap img{
    padding: 0;
    width: 100%;
    margin-left: 0%;
}
.text{
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top: 130%;
}
.text p{
    margin: 5% 9%;
    color: rgb(255, 255, 255);
    line-height: 2rem;
    font-size: 1.05rem;
}

.backbox2{
    position: absolute;
    width: 100%;
    z-index: 99;
    display: block;
    margin-top: -18%;
   
}
.backbox2 h1{
    margin-left: 8%;
    text-align: center;
    padding: 12% 2%;
    background-color: rgb(181, 144, 87);
    color:rgb(255, 255, 255);
    width: 33%;
    font-weight: 600;
    letter-spacing: 0.4rem;
    font-size:2.3rem;
}

.first2{
    z-index: 99;
    margin-top: 40%;
    width: 100%;
    position: absolute;
}
.first2 p{
    text-align: center;
    color:rgb(20, 18, 128);
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: underline;
    text-underline-offset : 5px;
    font-weight: 700;
}

.mainimg1 {
    z-index: 99;
    position: absolute;
    margin-top: 60%;
    width: 100%;
}
.mainimg1 img{
    display: block;
    margin: 0 auto;
    width: 70%;
}
.mainimg2 {
    z-index: 99;
    position: absolute;
    margin-top: 130%;
    width: 100%;
}
.mainimg2 img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.backgroundimg3 {
    z-index: 1;
    position: relative;
    width: 100%;
 
}
.backgroundimg3 img{
    padding: 0;
    width: 100%;
    margin-bottom: -4%;
}
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
.daeimg1 {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top: -7%;
    font-family: 'Nanum Myeongjo', serif;
}
.daeimg1 img{
    margin-left: 34%;
    display: block;
    width: 60%;
    border: 4px solid white;
}
.daeimg1 p{
    color: white;
    font-size: 1.7rem;
    margin-left: 50%;
}

.daeimg2 {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top:-18%;
    font-family: 'Nanum Myeongjo', serif;
}
.daeimg2 img{
    margin-left: 4%;
    display: block;
    width: 77%;
    border: 4px solid white;
}
.daeimg2 p{
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    margin-left: 4%;
}


.daeimg3 {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top:98%;
    font-family: 'Nanum Myeongjo', serif;
}
.daeimg3 img{
    margin-left: 20%;
    display: block;
    width: 80%;
    border: 3px solid white;
}
.daeimg3 p{
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    margin-left: 39%;
}





/* 하단 마운틴리더 설명 */
.endwrap{
    z-index: 3;
    background: rgb(17, 18, 37);
    width: 100%;
    display:  flex;
    justify-content : center;
  }
  .end h1{
    text-align: left;
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-bottom: 5%;
  }
  .end{
    width: 90%;
    text-align: left;
    margin-bottom: 6%;
    margin-top: 4%;
  }
  .end p{
    color: #808080;
    font-size: 0.7rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 
  
  
  
  
  
  
  
  
  
  
  